.App-header {
  background-color: #222;
  color: white;
  height: 50px;
  padding: 10px;
  text-align: center;
}

.App-header h2 {
  line-height: 50px;
  margin: 0;
}

.App-intro {
  font-size: large;
}
